.e1tzin5v2 >.row-widget.stButton > button {
    width: 100%;
    height: 100%;

}


/* div that wraps all 3 columns */
.e1tzin5v3 {
    width: 70%;
    margin-left: 15%;
}





/* drag drop div */
.exg6vvm14 {
    display: none;
}
/* resizing the attach button  */
.exg6vvm15 > button {
    width: 100%;
    height: 100%;
}
/* div which wraps attach button */
.exg6vvm15 {
    padding: 0;
    margin-left: -15px;
    height: 40px;
}

/* div that wraps the enter button  */
.e1tzin5v2 >.row-widget.stButton  {
    height: 40px;
}

/* resizing the enter button  */
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div:nth-child(1) > div:nth-child(1) > div > div:nth-child(4) > div > div:nth-child(2) > div:nth-child(3) > div:nth-child(1) > div > div:nth-child(2) > div > button{
    background: rgb(204, 49, 49);
    color: black;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div:nth-child(1) > div:nth-child(1) > div > div:nth-child(4) > div > div:nth-child(2) > div:nth-child(3) > div:nth-child(1) > div > div:nth-child(2) > div > button :hover,:active{
    color: white;
}


/* save button */
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div:nth-child(1) > div:nth-child(1) > div > div:nth-child(4) > div > div:nth-child(4) > div:nth-child(1) > div:nth-child(1) > div > div > div > button {
    background-color: rgb(0,255,127);
    color: black;
    height: 40px;
    margin-top: 20px;
    width: 70%;
    margin-left: 30%;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div:nth-child(1) > div:nth-child(1) > div > div:nth-child(4) > div > div:nth-child(4) > div:nth-child(1) > div:nth-child(1) > div > div > div > button:hover, :active {
    border: rgb(0,255,127);
    color: white;

}

/* clear button  */
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div:nth-child(1) > div:nth-child(1) > div > div:nth-child(4) > div > div:nth-child(4) > div:nth-child(2) > div:nth-child(1) > div > div > div > button {
    background: rgb(204, 49, 49);
    color: black;
    height: 40px;
    margin-top: 20px;
    width: 70%;
    margin-right: 30%;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div:nth-child(1) > div:nth-child(1) > div > div:nth-child(4) > div > div:nth-child(4) > div:nth-child(2) > div:nth-child(1) > div > div > div > button:hover, :active {
    color: white;
}